@import url(' https://fonts.cdnfonts.com/css/star-wars ' );
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
 background-image: url('/assets/universo-bg.jpg');
  background-size: cover;
}
a{
  text-decoration: none;
}

header{
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo{
  width: 250px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img{
  width: 40%;
  height: auto;
}
.logo-text{
  font-family: 'Star Wars',sans-serif;
  font-size: 1rem;
}
.social-media{
  width: 130px;
  display: flex;
  justify-content: space-between;
}

i{
  font-size:  1,2rem;
}

i:hover{
  color:gold
}